<a href="https://colab.research.google.com/github/jdsmithwes/Telco-Data-Churn/blob/master/Module3_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Telco Churn Project
Jamaal Smith

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Data Cleaning

In [7]:
#import the data
df = pd.read_csv('churn_data.csv')

#characteristics of the data
display(df.head(10))

  state  account length  ...  customer service calls  churn
0    KS             128  ...                       1  False
1    OH             107  ...                       1  False
2    NJ             137  ...                       0  False
3    OH              84  ...                       2  False
4    OK              75  ...                       3  False
5    AL             118  ...                       0  False
6    MA             121  ...                       3  False
7    MO             147  ...                       0  False
8    LA             117  ...                       1  False
9    WV             141  ...                       0  False

[10 rows x 21 columns]